<section class="work-masthead knowledge-masthead">
	<div class="grid">
		<div class="work-info">
			<h1>Knowledge Base // Product Design Work</h1>
			<p>Redpoint is a product built for both external Catalyze HL7 customers as well as internal integration engineers. At it's core Redpoint gives users a way to manage integrations with Health Systems. Redpoint automates the creation of interfaces and management of VPN appliances.</p>
		</div>
		<div class="cover-me"></div>
		<div class="letter"></div>
	</div>
</section>
<article class="work-content">
	<div class="grid">
		<h3>In it's current form Redpoint gives users the ability to quickly build connections with a Health System via a secure VPN connection, request the creation of new interfaces, view metrics about interfaces associated with health systems, and manage access to environment clusters.</h3>
		<figure>
			<img src="/assets/img/work/resources/1_resources_home.jpg" alt="Knowledge Base Home">
			<figcaption>Catalyze Redpoint - Winter 2015</figcaption>
		</figure>
	</div>
</article>
<a href="/redpoint-future" class="next-work">Got to next piece of work</a>