<section class="work-masthead knowledge-masthead">
	<div class="grid">
		<div class="work-info">
			<h1>Knowledge Base // Product Design Work</h1>
			<p>Catalyze resources make up the knowledge base that is the lifeblood of our users. With example documentation, API references, sample projects, and getting started guides, our resources are a big part of our user's success.</p>
		</div>
		<div class="cover-me"></div>
		<div class="letter"></div>
	</div>
</section>
<article class="work-content">
	<div class="grid">
		<h3>After several iterations we settled on a design that really emphasizes the FAQ section of our resources. By providing this section front and center we've drastically reduce the amount of support tickets regarding those questions.</h3>
		<figure>
			<img src="/assets/img/work/resources/1_resources_home.jpg" alt="Knowledge Base Home">
			<figcaption>Catalyze Redpoint - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/resources/2_resources_paas_faq.jpg" alt="Knowledge Base Home">
			<figcaption>Catalyze Redpoint - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/resources/3_resources_paas_guide.jpg" alt="Knowledge Base Home">
			<figcaption>Catalyze Redpoint - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/resources/4_resources_paas_tutorial.jpg" alt="Knowledge Base Home">
			<figcaption>Catalyze Redpoint - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/resources/5_resources_compliance.jpg" alt="Knowledge Base Home">
			<figcaption>Catalyze Redpoint - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/resources/6_resources_redpoint_guide.jpg" alt="Knowledge Base Home">
			<figcaption>Catalyze Redpoint - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/resources/7_resources_highlight.jpg" alt="Knowledge Base Home">
			<figcaption>Catalyze Redpoint - Winter 2015</figcaption>
		</figure>
	</div>
</article>
<a href="/darwin" class="next-work">Got to next piece of work</a>