<main class="case-study">
	<div class="grid">
		<section class="work-masthead">
				<div class="work-info">
					<header>
						<h1>Knowledge Base</h1>
						<div class="tags">
							<span>Documentation Design</span>
							<span>Front-end Development</span>
							<span>CI/CD</span>
						</div>
					</header>
				</div>
				<div class="cover-me"></div>
				<div class="letter"></div>
			</div>
		</section>
		<article class="work-content">
			<div class="meta">
				<a href="//resources.catalyze.io" class="work-cta" target="_blank">View Live</a>
				<p>Catalyze resources make up the knowledge base that is the lifeblood of our users. With example documentation, API references, sample projects, and getting started guides, our resources are a big part of our user's success.</p>
				<h3>The current design iteration of resources really emphasizes the FAQ section of the documentation. By providing this section front and center we've drastically reduce the amount of support tickets regarding those questions.</h3>
			</div>
			<figure class="light-image">
				<img src="/assets/img/work_knowledge_base_one.jpg" alt="Knowledge Base" />
				<figcaption>Catalyze Resources - Winter 2015</figcaption>
			</figure>
			<figure class="light-image">
				<img src="/assets/img/work_knowledge_base_two.jpg" alt="Knowledge Base" />
				<figcaption>Catalyze Resources PaaS Guide Example - Winter 2015</figcaption>
			</figure>
			<a href="/darwin" class="next-work">Got to next piece of work</a>
		</article>
	</div>
</main>
