<section class="work-masthead darwin-masthead">
	<div class="grid">
		<div class="work-info">
			<h1>Darwin // Product Design</h1>
			<p>Darwin, or PaaS as it's often referred, is Catalyze's flagship product. Darwin is the premier HIPAA compliant Platform as a Service for healthcare. Darwin gives users the ability to manage, scale, adapt and refine their their healthcare applications, all in within a secure cloud environment.</p>
			<a href="//dashboard.catalyze.io" class="work-cta" target="_blank">View Live</a>
		</div>
		<div class="cover-me"></div>
		<div class="letter"></div>
	</div>
</section>
<article class="work-content">
	<div class="grid">
		<div class="notice">
			<p>Darwin is currently being redesigned and developed. This pages is intentionally sparse. More images and process work to come as the product nears completion.</p>
		</div>
		<h3>Darwin is the culmination of both a command line tool (CLI) and a UI dashboard. By adapting the product over several iterations we've learned which features work best where.</h3>
		<figure>
			<img src="/assets/img/work/darwin/1_darwin_dashboard.jpg" alt="Darwin Dashboard">
			<figcaption>Catalyze Darwin - Winter 2015</figcaption>
		</figure>
	</div>
</article>
<a href="/engineering-blog" class="next-work">Got to next piece of work</a>