<main class="case-study">
	<div class="grid">
		<section class="work-masthead">
				<div class="work-info">
					<header>
						<h1>Stratum / Darwin</h1>
						<div class="tags">
							<span>Front-end Development</span>
							<span>Product Design</span>
							<span>UI/UX</span>
						</div>
					</header>
				</div>
				<div class="cover-me"></div>
				<div class="letter"></div>
			</div>
		</section>
		<article class="work-content">
			<div class="meta">
				<a href="//dashboard.catalyze.io" class="work-cta" target="_blank">View Live</a>
				<p>Darwin, or PaaS as it's often referred, is Catalyze's flagship product. Darwin is the premier HIPAA compliant Platform as a Service for healthcare. Darwin gives users the ability to manage, scale, adapt and refine their their healthcare applications, all in within a secure cloud environment.</p>
				<h3>Darwin is currently being redesigned and developed. This pages is intentionally sparse. More images and process work to come as the product nears completion.</h3>
			</div>
			<figure class="light-image">
				<img src="/assets/img/work_stratum_one.jpg" alt="Stratum" />
				<figcaption>Catalyze Resources - Winter 2015</figcaption>
			</figure>
			<a href="/engineering-blog" class="next-work">Got to next piece of work</a>
		</article>
	</div>
</main>
