<section class="about">
	<div class="grid">
		<div class="col-4-12">
			<h1>About Me</h1>
			<p>I had always been infatuated with drawing, and I never really saw it as more than that. It wasn't art or design to me. I just liked looking at shapes and then redrawing them. Every day after school I would come home and start drawing. I would constantly find images in magazines and newspapers to trace. I loved copying other peoples work.</p>
			<p>Tracing and copying eventually turned into following along on the TV with shows like Bob Ross and Pappy's Wonderland. Which eventually turned into me creating images from real life, things I saw around me, trees, cars, people, etc (lots of dogs for some reason). My creativity had grown through the process of replication.</p>
			<img class="imgOne" src="/assets/img/leaf.png" alt="Leaf">
			<img class="imgTwo" src="/assets/img/light.png" alt="Light Storm">
			<img class="imgThree" src="/assets/img/dash.png" alt="Dash">
		</div>
		<div class="col-4-12">
			<p>I attended college in 2008. A time when Graphic Design was still mostly focused on teaching the craft of illustration, typography, color theory, and layout within the context of print. For me, this is when modern web design was really starting to make it's mark. Colleges started adding more and more web-centric design courses. Human-computer interaction, New Media Development, Flash, etc. were all being talked about constantly within the Graphic Design Department.</p>
			<p>As web based design grew more prolific and software started to move from native to the web I also made a move.</p>
			<p>Eager to learn more about technology I decided to transfer colleges to continue pursuing a Bachelors degree in Graphic Design, and with a hope that I could learn more about technology and engineering.</p>
			<h2>My years at R.I.T.</h2>
			<p>During my three years at R.I.T. I was lucky enough to study under amazing design professors. Individuals like Kris Holmes and Chuck Bigelow, inventors of hundreds of modern typefaces (Many of which first appeared in the original Macintosh computer).</p>
		</div>
		<div class="col-4-12">
			<p>Throughout the course of my study I inter-weaved fine art classes with technology and engineering courses. A year in I took up a minor in Science, Technology and Society. A sociological minor that looks into how technology can change the behaviors of groups of individuals and communities. At the same time I changed majors from Graphic Design to Applied Arts and Sciences.</p>
			<p>After transferring I now had no restrictions on the classes I could take. My only requirements were to make solid cases for how a certain class would benefit my education.</p>
			<h2>Enter Gradesnap</h2>
			<p>Around this time I started working on a side project (eventually called Gradesnap) with my good friend Nikko. This project dealt with grading multiple choice tests by capturing an image of the answer sheet. We the wanted to create a suite of statistics that a potential educator could use to further analyze their students work on top the automated grading aspect of the program. Eventually Gradesnap turned into a startup that went through the High Tech Rochester lean launchpad accelerator.</p>
			<p>Unfortunately, as is the fate of many startups, Gradesnap eventually folded after two and half years.</p>
			<p>After Gradesnap I graduated college and started working as a Front-end Web Developer at Global Thinking, a creative agency near Washington D.C.</p>
			<p>My passion for client work slowly grew weak and my urge to work on sustainable software products, and more importantly, companies trying to make a positive difference in the world, grew stronger.</p>
			<h2>Currently</h2>
			<p>I now work from the West Coast in Portland Oregon as the director of design at Catalyze. We're building software development tools for healthcare developers. Our goal is to usher in the new age of value based patient care by giving innovative companies the tools they need to succeed in operating within health systems.</p>
		</div>
</section>