<div class="about">
	<div class="about-inner">
		<div class="close">close</div>
		<div class="logo"></div>
		<h1>About</h1>
		<figure>
			<img src="/assets/img/profile_picture.jpg" alt="Profile Picture">
		</figure>
		<%= partial "/partials/about-markdown" %>
	</div>
</div>
