<div class="work">
	<div class="grid">
		<div class="row">
			<div class="col-4-12">
				<div class="work-block">
					<a class="r-work" href="/redpoint">
						<div class="letter-r"></div>
						<div class="gradient-overlay"></div>
						<p>Redpoint // Product Design Work</p>
					</a>
				</div>
			</div>
			<div class="col-4-12">
				<div class="work-block">
					<a class="d-work" href="/darwin">
						<div class="letter-d"></div>
						<div class="gradient-overlay"></div>
						<p>Darwin // Product Design Work</p>
					</a>
				</div>
			</div>
			<div class="col-4-12">
				<div class="work-block">
					<a class="c-work" href="/compliance">
						<div class="letter-c"></div>
						<div class="gradient-overlay"></div>
						<p>Compliance Docs // Product Design Work</p>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-4-12">
				<div class="work-block">
					<a class="k-work" href="/#/">
						<div class="letter-k"></div>
						<div class="gradient-overlay"></div>
						<p>Knowledge Base // Product Work</p>
					</a>
				</div>
			</div>
			<div class="col-4-12">
				<div class="work-block">
					<a class="f-work" href="/#/">
						<div class="letter-f"></div>
						<div class="gradient-overlay"></div>
						<p>Future Demo // Product Design Work</p>
					</a>
				</div>
			</div>
			<div class="col-4-12">
				<div class="work-block">
					<a class="e-work" href="/#/">
						<div class="letter-e"></div>
						<div class="gradient-overlay"></div>
						<p>Engineering Blog // Product Design Work</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>