<div class="work">
	<div class="grid">
		<h2>Here are the projects I'm currently working on</h2>
		<!-- test -->
		<div class="row">
			<div class="work-post">
				<div class="num">1.</div>
				<div class="col-5-12">
					<img src="/assets/img/cover_redpoint_future.png" alt="Image">
				</div>
				<div class="col-7-12">
					<header>
						<h1>Redpoint Future Demo</h1>
						<div class="meta">
							<span class="date">Fall 2015 // </span>
							<span class="tag">Product Design</span>
						</div>
					</header>
					<article>
						<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Perhaps more content here. Having thought about it, we're going to need a bunch of more words to go here.</p>
						<p>Even the most seasoned pieces of meat sometimes end up tasting bland. It's with a heavy heart that you must inform the other friends of meat that it is in fact a retro grade engineering mechanism.</p>
					</article>
				</div>
			</div>
		</div>
		<div class="row-alt">
			<div class="work-post">
				<div class="num">2.</div>
				<div class="col-7-12">
					<header>
						<h1>Redpoint Future Demo</h1>
						<div class="meta">
							<span class="date">Fall 2015 // </span>
							<span class="tag">Product Design</span>
						</div>
					</header>
					<article>
						<p>Nullam id dolor id nibh ultricies vehicula ut id elit. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Perhaps more content here. Having thought about it, we're going to need a bunch of more words to go here.</p>
						<p>Even the most seasoned pieces of meat sometimes end up tasting bland. It's with a heavy heart that you must inform the other friends of meat that it is in fact a retro grade engineering mechanism.</p>
					</article>
				</div>
				<div class="col-5-12">
					<img src="/assets/img/cover_redpoint.png" alt="Image">
				</div>
			</div>
		</div>
		<!-- /test -->
		<div class="row">
			<div class="col-4-12">
				<div class="work-block">
					<a class="r-work" href="/redpoint">
						<div class="letter-r"></div>
						<div class="gradient-overlay"></div>
						<p>Redpoint // Product Design</p>
					</a>
				</div>
			</div>
			<div class="col-4-12">
				<div class="work-block">
					<a class="f-work" href="/redpoint-future">
						<div class="letter-f"></div>
						<div class="gradient-overlay"></div>
						<p>Future Demo // Rapid Prototyping</p>
					</a>
				</div>
			</div>
			<div class="col-4-12">
				<div class="work-block">
					<a class="c-work" href="/compliance">
						<div class="letter-c"></div>
						<div class="gradient-overlay"></div>
						<p>Compliance Docs // Documentation Design</p>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-4-12">
				<div class="work-block">
					<a class="k-work" href="/knowledge-base">
						<div class="letter-k"></div>
						<div class="gradient-overlay"></div>
						<p>Knowledge Base // Documentation Design</p>
					</a>
				</div>
			</div>
			<div class="col-4-12">
				<div class="work-block">
					<a class="d-work" href="/darwin">
						<div class="letter-d"></div>
						<div class="gradient-overlay"></div>
						<p>Darwin // Product Design</p>
					</a>
				</div>
			</div>
			<div class="col-4-12">
				<div class="work-block">
					<a class="e-work" href="/engineering-blog">
						<div class="letter-e"></div>
						<div class="gradient-overlay"></div>
						<p>Engineering Blog // Information Design</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>