<!-- Fixed items -->
<div class="link">
	<div class="rel">
		<a href="/#/">Writing</a>
		<span>Coming soon-ish. It might be a while</span>
	</div>
</div>
<div class="fixed-top">&#8225; 1055FF</div>
<div class="fixed-bottom">&#172; 19.36 m</div>
	<div class="trang"><a target="_blank" href="//en.wikipedia.org/wiki/Owl_Nebula"><img src="/assets/img/trang.svg" alt="Triangle Logo"></a></div>
<!-- Content -->
<section class="main-content">
	<div class="grid">
		<header>
			<h1>Ryan S. Rich</h1>
			<p>Director of Design at Catalyze, science fiction aficionado, and digital entrepreneur.</p>
		</header>
		<article>
			<h1>Selected Works</h1>
			<div class="work">
				<a target="_blank" href="//darwin.catalyze.io">Darwin</a>
				<p>HIPAA compliant software environments</p>
			</div>
			<div class="work">
				<a target="_blank" href="//newton-staging.catalyze.io">Newton</a>
				<p>data interoperability on a completely different level</p>
			</div>
			<div class="work">
				<a target="_blank" href="//resources.catalyze.io">Resources</a>
				<p>catalyze guides, references, and faqs</p>
			</div>
			<div class="work">
				<a target="_blank" href="//engineering.catalyze.io">Engineering Blog</a>
				<p>posts on docker, encryption, and much more</p>
			</div>
			<div class="work">
				<a target="_blank" href="//hipaagr.am">HIPAAGRAM</a>
				<p>HIPAA compliant whats app clone</p>
			</div>
			<div class="work">
				<a target="_blank" href="//matter.catalyze.io">Matter</a>
				<p>styleguide for catalyze design efforts</p>
			</div>
			<div class="work">
				<a target="_blank" href="//catalyzeio.github.io">Open Source</a>
				<p>a dedicated home for catalyze open source projects</p>
			</div>
			<div class="work">
				<a target="_blank" href="//fhir.catalyze.io">FHIR Docs</a>
				<p>a set of FHIR docs and a mock API</p>
			</div>
			<div class="work">
				<a target="_blank" href="//www.vhcphysiciangroup.com/">VHC Physician Group</a>
				<p>a website dedicated to showcasing VHC physicians</p>
			</div>
		</article>
		<aside>
			<p>I'm the Director of Design at <a target="_blank" href="//catalyze.io">Catalyze</a>, a company changing the way innovators build healthcare software. At Catalyze we're focused on building usable, testable, aesthetically pleasing and user driven products.</p>
			<p>Before Catalyze I worked as front-end web developer in the agency space and also co-founded an education software startup while enrolled at <a target="_blank" href="//rit.edu">R.I.T.</a></p>
			<p>m97 is the home of my portfolio and blog. The name stems from the fact that I wanted a short domain and my infatuation with deep space. m97 is commonly referred to as the owl nebula, a planetary nebula discovered by Pierre Méchain on February 16th, 1781.</p>
		</aside>
	</div>
</section>