<header class="main-header">
	<a href="/" class="name">ryan + s + rich</a>
	<a href="/" class="logo"></a>
	<nav>
		<a href="//medium.com/circumstellar-disc" target="_blank">writing <span>Circumstellar Disc</span></a>
		<a href="/">work</a>
		<a href="//twitter.com/_ryanSrich" target="_blank">twitter</a>
		<a href="//dribbble.com/ryanSrich" target="_blank">dribbble</a>
		<a href="//github.com/rr1000" target="_blank">github</a>
	</nav>
	<div class="burg">
		<div class="open"></div>
		<div class="close"></div>
	</div>
</header>