<header class="main-header">
	<a href="/" class="name">ryan + s + rich</a>
	<a href="/" class="logo"></a>
	<nav>
		<a href="/#/">writing</a>
		<a href="/#/">work</a>
		<a href="/#/">twitter</a>
		<a href="/#/">dribbble</a>
		<a href="/#/">github</a>
	</nav>
	<div class="burg">
		<div class="open"></div>
		<div class="close"></div>
	</div>
</header>