<header class="main-header">
	<div class="grid">
		<div class="logo-a"></div>
		<a href="/" class="name">Ryan + S + Rich</a>
		<nav>
			<a href="//medium.com/circumstellar-disc" target="_blank">Writing</a>
			<a href="/">Work</a>
			<a href="/">Contact</a>
		</nav>
		<div class="burg">
			<div class="open"></div>
			<div class="close"></div>
		</div>
	</div>
</header>