<section class="main-masthead">
	<div class="grid">
		<h1>Hello. My name is Ryan. m97 is where I document my work.</h1>
		<p>I’m currently the Director of Design at Catalyze, a company changing the way innovators build healthcare software. Catalyze is focused on designing usable, testable, aesthetically pleasing and user driven software products.</p>
	</div>
</section>