<section class="main-masthead">
	<div class="location">Portland, OR based designer building software products.</div>
	<div class="distinction"><span>19.12m &dagger;</span><span>&#35;0319FF &dagger;</span>Formerly m97.co</div>
	<div class="grid">
		<h1>Hello. My name is Ryan. This is where I document my work.</h1>
		<h2>My passions lie at the intersection of aesthetics, engineering, and business.</h2>
		<p>I've previously co-founded an educational startup, traveled as a freelance designer, and worked as a front-end web developer. I’m currently the Director of Design at Catalyze, a company changing the way innovators build healthcare software. Catalyze is focused on designing usable, testable, aesthetically pleasing and user driven software products.</p>
	</div>
</section>