<!-- Fixed items -->
<div class="link">
	<div class="rel">
		<a href="/#/">Writing</a>
		<span>Coming soon-ish. It might be a while</span>
	</div>
</div>
<div class="fixed-top">&#8225; 1055FF</div>
<div class="fixed-bottom">&#172; 19.36 m</div>
	<div class="trang"><a target="_blank" href="//en.wikipedia.org/wiki/Owl_Nebula"><img src="/assets/img/trang.svg" alt="Triangle Logo"></a></div>
<!-- Content -->
<section class="main-content">
	<div class="grid">
		<header>
			<h1>Ryan S. Rich</h1>
			<p>Pixels. A pixel drawing per day. 50x50 pixel art.</p>
		</header>
		<section class="pixel-block">
			<span class="pix"><img src="/assets/img/pixels/p_1.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_2.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_3.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_4.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_5.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_6.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_7.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_8.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_9.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_10.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_11.png" alt="A pixel"></span>
			<span class="pix"><img src="/assets/img/pixels/p_12.png" alt="A pixel"></span>
		</section>
	</div>
</section>
<!-- Footer -->
<footer class="main-footer">
	<div class="grid">
		<nav>
			<a href="/">home</a>
			<a href="/pixels">pixels</a>
			<a href="mailto:r@m97.co">r@m97.co</a>
			<a href="//twitter.com/ryanSrich">@ryanSrich</a>
			<a href="//dribbble.com/ryanSrich">Dribbble</a>
			<a href="//github.com/rr1000">GitHub</a>
			<a href="//stackoverflow.com/users/1254737/ryansrich">Stackoverflow</a>
		</nav>
	</div>
</footer>