<%= partial "partials/work-header" %>
<article class="work-covers">
	<header>
		<h1>Featured Work</h1>
		<p>Below is a list of projects I'm currently working on at Catalyze. For a list of other experiments and projects you can checkout my shots portfolio <a href="//ryansrich.dribbble.com" target="_blank">here.</a></p>
	</header>
	<div class="row">
		<div class="col-4-12">
			<a href="/redpoint-future">
				<img src="/assets/img/cover_future_demo.png" alt="">
				<h1>Future Demo</h1>
				<p>Catalyze - 2015</p>
				<h2>Redpoint is a product built for both external Catalyze HL7 customers as well as internal integration engineers. At it's core Redpoint gives users a way to manage integrations with Health Systems. Redpoint automates the creation of interfaces and management&hellip;</h2>
			</a>
		</div>
		<div class="col-4-12">
			<a href="/compliance">
				<img src="/assets/img/cover_compliance_docs.png" alt="">
				<h1>Compliance Docs</h1>
				<p>Catalyze - 2015/2014</p>
				<h2>HIPAA compliance is more than just a checkbox and basic application security. You need to maintain a well groomed paper trail in the event of an audit. With our compliance docs we wanted to encouraged inheritance from our customers, but also provided a&hellip;</h2>
			</a>
		</div>
		</a>
		<div class="col-4-12">
			<a href="/redpoint">
				<img src="/assets/img/cover_redpoint.png" alt="">
				<h1>Redpoint</h1>
				<p>Catalyze - 2015</p>
				<h2>Redpoint is a product built for both external Catalyze HL7 customers as well as internal integration engineers. At it's core Redpoint gives users a way to manage integrations with Health Systems. Redpoint automates the creation of interfaces and management&hellip;</h2>
			</a>
		</div>
		</a>
	</div>
	<div class="row">
		<div class="col-4-12">
			<a href="/darwin">
				<img src="/assets/img/cover_darwin.png" alt="">
				<h1>Darwin</h1>
				<p>Catalyze - 2015/2014</p>
				<h2>Darwin, or PaaS as it's often referred, is Catalyze's flagship product. Darwin is the premier HIPAA compliant Platform as a Service for healthcare. Darwin gives users the ability to manage, scale, adapt and refine their their healthcare applications, all in&hellip;</h2>
			</a>
		</div>
		<div class="col-4-12">
			<a href="/knowledge-base">
				<img src="/assets/img/cover_knowledge_base.png" alt="">
				<h1>Knowledge Base</h1>
				<p>Catalyze - 2015/2014</p>
				<h2>Catalyze resources make up the knowledge base that is the lifeblood of our users. With example documentation, API references, sample projects, and getting started guides, our resources are a big part of our user's success.</h2>
			</a>
		</div>
		<div class="col-4-12">
			<a href="/engineering-blog">
				<img src="/assets/img/cover_engineering.png" alt="">
				<h1>Engineering Blog</h1>
				<p>Catalyze - 2015</p>
				<h2>We think it's important to not only share our work by contributing and open sourcing projects, but also by writing about our experiences with various technologies. The Catalyze engineering blog is where we talk about what we do.</h2>
			</a>
		</div>
	</div>
</article>