<header class="work-header">
	<a href="/"><div class="logo"></div></a>
	<nav>
		<a href="/work" class="active">work</a>
		<a href="//medium.com/@ryansrich/a-brief-history-e4be8b16ee7f#.xpdoelbdx" target="_blank">about</a>
		<a href="//medium.com/@ryansrich" target="_blank">writing</a>
		<a href="//github.com/rr1000" target="_blank">github</a>
		<a href="//twitter.com/_ryanSrich" target="_blank">twitter</a>
		<a href="//dribbble.com/ryanSrich" target="_blank">dribbble</a>
	</nav>
</header>