<div class="work-list">
	<div class="list-inner">
		<div class="close">close</div>
		<div class="logo"></div>
		<h1>Recent Work</h1>
		<a class="disabled" href="//catalyze.io/stratum" target="_blank">
			<span class="date">2016-02-08</span>
			<span class="title">Stratum - coming soon</span>
		</a>
		<a href="//newtonisredpointforever.catalyze.io" target="_blank">
			<span class="date">2015-12-03</span>
			<span class="title">Redpoint Future Demo</span>
		</a>
		<a href="//hipaa.catalyze.io" target="_blank">
			<span class="date">2015-11-29</span>
			<span class="title">Compliance Documentation</span>
		</a>
		<a href="//redpoint.catalyze.io" target="_blank">
			<span class="date">2015-11-02</span>
			<span class="title">Redpoint</span>
		</a>
		<a href="//hl7-docs.catalyze.io" target="_blank">
			<span class="date">2015-09-08</span>
			<span class="title">HL7 Mock API and Documentation</span>
		</a>
		<a href="//engineering.catalyze.io" target="_blank">
			<span class="date">2015-08-21</span>
			<span class="title">Catalyze Engineering Blog</span>
		</a>
		<a href="//resources.catalyze.io" target="_blank">
			<span class="date">2015-06-11</span>
			<span class="title">Resources Knowledge Base</span>
		</a>
		<a href="//dashboard.catalyze.io" target="_blank">
			<span class="date">2015-01-20</span>
			<span class="title">Catalyze Dashboard Redesign</span>
		</a>
		<a href="//catalyze.io" target="_blank">
			<span class="date">2014-08-16</span>
			<span class="title">Catalyze.io Redesign</span>
		</a>
		<a href="//hipaagr.am" target="_blank">
			<span class="date">2014-08-02</span>
			<span class="title">HIPAAGRAM</span>
		</a>
		<a href="//vhcphysiciangroup.com" target="_blank">
			<span class="date">2013-12-28</span>
			<span class="title">VHC Physician Group</span>
		</a>
	</div>
</div>
