<section class="work-masthead redpoint-future-masthead">
	<div class="grid">
		<div class="work-info">
			<h1>Future Demo // Rapid Prototyping</h1>
			<p>At the center of our design process at Catalyze lies prototyping. We are constantly looking for ways to improve the experience of our products through demos and prototypes. We show these to current and would be users to gain valuable feedback. The Redpoint Future demo is one such prototype.</p>
			<a href="//newtonisredpointforever.catalyze.io" class="work-cta" target="_blank">View Live</a>
		</div>
		<div class="cover-me"></div>
		<div class="letter"></div>
	</div>
</section>
<article class="work-content">
	<div class="grid">
		<h3>There were two main goals in building this Future Redpoint demo: 1. continue to improve the workflow of the product by allowing the user to easily traverse actions within the interface. 2. Create intriguing aesthetics the likes of which are rare among healthcare software. Below are renderings from the demo.</h3>
		<figure>
			<img src="/assets/img/work/redpoint_future/1_redpoint_future_dashboard.jpg" alt="Redpoint Future Dashboard">
			<figcaption>Catalyze Redpoint Future Demo Cluster Metrics - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/redpoint_future/2_redpoint_future_connectors.jpg" alt="Redpoint Future Dashboard">
			<figcaption>Catalyze Redpoint Future Demo Connectors View - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/redpoint_future/3_redpoint_future_deploy_1.jpg" alt="Redpoint Future Dashboard">
			<figcaption>Catalyze Redpoint Future Demo Deploy Actions - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/redpoint_future/4_redpoint_future_deploy_2.jpg" alt="Redpoint Future Dashboard">
			<figcaption>Catalyze Redpoint Future Demo Complex Script Creation - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/redpoint_future/5_redpoint_future_deploy_3.jpg" alt="Redpoint Future Dashboard">
			<figcaption>Catalyze Redpoint Future Demo Integration Configuration - Winter 2015</figcaption>
		</figure>
	</div>
</article>
<a href="/compliance" class="next-work">Got to next piece of work</a>