$c_main-blue: #0319FF;
$c_light-blue: #F1F3FF;
$c_dark: #191926;
$c_white: #fff;
$c_shadow: #ddd;
$c_text: #5C5F7D;
$c_cta-border: #1C3EBC;
$c_range: #FFD38A;
$c_border: darken($c_light-blue, 5%);
$c_highlighter: #FFFA8E;