// 1199
@media all and (max-width: 1199px){
	.main-masthead{h1,h2,p{padding-left: 40px;}}
}
// 879px
@media all and (max-width: 879px){
	.main-header{
		padding: 0px;
		a.name{
			float: none;
			padding: 20px;
		}
		nav{
			float: none;
			display: none;
			border-top: 2px solid #010101;
			a{
				display: block;
				padding: 20px;
				border-bottom: 2px solid #010101;
				margin: 0px;
				&:last-of-type{border: 0px;}
				span{
					margin-top: 2px;
					left: 20px;
					display: block;
					position: absolute;
					font-size: 8px;
					@include opacity(0.5);
				}
			}
		}
		a.logo{display: none;}
		.burg{
			display: block;
			position: absolute;
			right: 10px;
			top: 12px;
		}
	}
	// Masthead
	.main-masthead{
		padding: 60px 30px;
		border-bottom: 0px;
		h1{font-size: 18px;}
		.location{
			font-size: 11px;
			left: -115px;
			top: 155px;
		}
		.distinction{display: none;}
	}
	.work{
		padding: 0px;
		.row{margin: 0px;}
	}
	.about{
		padding: 30px;
		.imgOne,
		.imgTwo,
		.imgThree{
			opacity: 0.5;
			position: relative;
			margin: 0px;
			display: none;
		}
		.imgOne{
			display: block;
			margin: 0px 0px 30px 0px;
		}
	}
	.grid{
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	[class*='col-']{
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding: 0px;
	}
}
// 645
@media all and (max-width: 645px){
	.work-masthead{
		padding: 60px 30px;
		border-bottom: 0px;
		h1{line-height: 1.5;font-size: 18px;}
		.letter{display: none;}
	}
}
// 374
@media all and (max-width: 400px){
	.main-masthead{
		p{max-width: 275px;padding-left: 27px;}
		h1,h2{
			padding-left: 27px;
			line-height: 1.5;
		}
	}
	.main-footer{
		p.p2{
			line-height: 1.5;
		}
	}
}
// 320
@media all and (max-width: 320px){
	.main-masthead{.distinction{display: none;}}
}