@import url(//fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face{
	font-family: 'ap';
	src: url('../fonts/ap.otf');
}
$f_bu: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
$f_sans: 'ap', $f_bu;
$f_mono: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, 'Inconsolata', monospace, $f_bu;
// Set body text
body{
	font-size: 14px;
	font-family: $f_sans;
	a{text-decoration: none;}
}