@import url(//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700);
@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);
@font-face{
	font-family: 'ap';
	src: url('../fonts/ap.otf');
}
$f_bu: 'Avenir Next', 'Avenir', 'Helvetica Neue', Helvetica, sans-serif;
$f_a: 'ap', $f_bu;
$f_b: 'Crimson Text', serif;
$f_wicked: 'Oswald', $f_bu;
body{font-family: $f_a;}