<section class="work-masthead engineering-masthead">
	<div class="grid">
		<div class="work-info">
			<h1>Engineering Blog // Information Design</h1>
			<p>We think it's important to not only share our work by contributing and open sourcing projects, but also by writing about our experiences with various technologies. The Catalyze engineering blog is where we talk about what we do.</p>
			<a href="//engineering.catalyze.io" class="work-cta" target="_blank">View Live</a>
		</div>
		<div class="cover-me"></div>
		<div class="letter"></div>
	</div>
</section>
<article class="work-content">
	<div class="grid">
		<figure>
			<img src="/assets/img/work/engineering_blog/1_eng_blog_home.jpg" alt="Engineering Blog">
			<figcaption>Catalyze Engineering Blog - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/engineering_blog/2_eng_blog_post.jpg" alt="Engineering Blog">
			<figcaption>Catalyze Engineering Blog Single Post - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/engineering_blog/3_eng_blog_archive.jpg" alt="Engineering Blog">
			<figcaption>Catalyze Engineering Blog Post Archives- Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/engineering_blog/4_eng_blog_search.jpg" alt="Engineering Blog">
			<figcaption>Catalyze Redpoint Search Posts - Winter 2015</figcaption>
		</figure>
	</div>
</article>
<a href="/redpoint" class="next-work">Got to next piece of work</a>