<main class="case-study">
	<div class="grid">
		<section class="work-masthead">
				<div class="work-info">
					<header>
						<h1>Compliance Docs</h1>
						<div class="tags">
							<span>Documentation Design</span>
							<span>Front-end Development</span>
						</div>
					</header>
				</div>
				<div class="cover-me"></div>
				<div class="letter"></div>
			</div>
		</section>
		<article class="work-content">
			<div class="meta">
				<a href="//hipaa.catalyze.io" class="work-cta" target="_blank">View Live</a>
				<p>HIPAA compliance is more than just a checkbox and basic application security. You need to maintain a well groomed paper trail in the event of an audit. With our compliance docs we wanted to encouraged inheritance from our customers, but also provided a service to the HIT community at large, which is why all of our compliance docs are open source.</p>
				<h3>The Catalyze compliance docs have gone through several content and design iterations over the last two years. I had initially developed a simple middleman application that was able to take a set of markdown files and convert them to HTML. Later on I added tocify for easily creating a table of contents. The current iteration includes search and highlighting functionality thanks to lunr.js.</h3>
			</div>
			<figure>
				<img src="/assets/img/work_compliance_docs_one.png" alt="Compliance Docs">
				<figcaption>Compliance Docs &#8230; Early Sketches - 2015/2014</figcaption>
			</figure>
			<figure class="light-image">
				<img src="/assets/img/work_compliance_docs_two.jpg" alt="Compliance Docs">
				<figcaption>Compliance Docs &#8230; HIPAA Documentation - 2015</figcaption>
			</figure>
			<figure class="light-image">
				<img src="/assets/img/work_compliance_docs_three.jpg" alt="Compliance Docs">
				<figcaption>Compliance Docs &#8230; HIPAA Documentation - 2015</figcaption>
			</figure>
			<figure class="light-image small-image">
				<img src="/assets/img/work_compliance_docs_four.jpg" alt="Compliance Docs">
				<figcaption>Compliance Docs &#8230; HIPAA Documentation - 2015</figcaption>
			</figure>
			<a href="/knowledge-base" class="next-work">Got to next piece of work</a>
		</article>
	</div>
</main>
