<section class="work-masthead compliance-masthead">
	<div class="grid">
		<div class="work-info">
			<h1>Compliance Docs // Product Design Work</h1>
			<p>HIPAA compliance is more than just a checkbox and basic application security. You need to maintain a well groomed paper trail in the event of an audit. With our compliance docs we wanted to encouraged inheritance from our customers, but also provided a service to the HIT community at large, which is why all of our compliance docs are open source.</p>
			<a href="//hipaa.catalyze.io" class="work-cta" target="_blank">View Live</a>
		</div>
		<div class="cover-me"></div>
		<div class="letter"></div>
	</div>
</section>
<article class="work-content">
	<div class="grid">
		<h3>Our compliance docs have gone through several content and design iterations over the last two years. I had initially developed a simple middleman app that was able to take a set of markdown files and convert them to HTML. Later on I added tocify for easily creating a table of contents. The current iteration includes search and highlighting functionality thanks to lunr.js.</h3>
		<h3>If you're interested in taking a look at the <a href="//github.com/catalyzeio/hipaa">source code</a> we openly encourage pull requests. You'll notice that our policies are using Codeship, which has been a great CI/CD tool.</h3>
		<figure>
			<img src="/assets/img/work/compliance_docs/0_compliance_docs_sketches.png" alt="Compliance Docs">
			<figcaption>Compliance Docs Early Sketches - 2014 - 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/compliance_docs/1_compliance_docs.jpg" alt="Compliance Docs">
			<figcaption>Compliance Docs - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/compliance_docs/2_compliance_docs_highlight.jpg" alt="Compliance Docs">
			<figcaption>Compliance Docs Syntax Block - Winter 2015</figcaption>
		</figure>
		<figure>
			<img src="/assets/img/work/compliance_docs/3_compliance_docs_search.jpg" alt="Compliance Docs">
			<figcaption>Compliance Docs Search Example- Winter 2015</figcaption>
		</figure>
		<figure class="small-image">
			<img src="/assets/img/work/compliance_docs/4_compliance_docs_mobile.jpg" alt="Compliance Docs">
			<figcaption>Compliance Docs Mobile Layout - Winter 2015</figcaption>
		</figure>
	</div>
</article>
<a href="/knowledge-base" class="next-work">Got to next piece of work</a>