.work{
	padding: 100px 20px;
	.row{
		@extend .cf;
		margin: 0px auto 40px auto;
		&:last-of-type{margin: 0px auto;}
	}
	.work-block{
		width: 100%;
		height: 295px;
		a{
			display: block;
			width: 100%;
			height: 295px;
			position: relative;
			color: #fff;
			p{
				position: absolute;
				bottom: 20px;
				left: 20px;
				color: #fff;
				z-index: 100;
			}
		}
		// r
		a.r-work{
			height: 295px;
			width: 100%;
			max-width: 100%;
			background: url('../img/letters/r/r_bg.png');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100% 295px;
			@include easing(450ms);
			.gradient-overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #d93939 100%);
				z-index: 99;
				@include easing(450ms);
			}
			&:hover{
				@include easing(450ms);
				.gradient-overlay{top: 60%; @include easing(450ms);}
				.letter-r{
					@include easing(450ms);
					top: -20px;
				}
			}
		}
		.letter-r{
			@include easing(450ms);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100px;
			height: 140px;
			z-index: 101;
			background: url('../img/letters/r/r_.svg');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100px 140px;
		}
		// d
		a.d-work{
			height: 295px;
			width: 100%;
			max-width: 100%;
			background: url('../img/letters/d/d_bg.png');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100% 295px;
			@include easing(450ms);
			.gradient-overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #03D1FF 100%);
				z-index: 99;
				@include easing(450ms);
			}
			&:hover{
				@include easing(450ms);
				.gradient-overlay{top: 60%; @include easing(450ms);}
				.letter-d{
					@include easing(450ms);
					top: -20px;
				}
			}
		}
		.letter-d{
			@include easing(450ms);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100px;
			height: 140px;
			z-index: 101;
			background: url('../img/letters/d/d_.svg');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100px 140px;
		}
		// c
		a.c-work{
			height: 295px;
			width: 100%;
			max-width: 100%;
			background: url('../img/letters/c/c_bg.png');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100% 295px;
			@include easing(450ms);
			.gradient-overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #9603FF 100%);
				z-index: 99;
				@include easing(450ms);
			}
			&:hover{
				@include easing(450ms);
				.gradient-overlay{top: 60%; @include easing(450ms);}
				.letter-c{
					@include easing(450ms);
					top: -20px;
				}
			}
		}
		.letter-c{
			@include easing(450ms);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100px;
			height: 140px;
			z-index: 101;
			background: url('../img/letters/c/c_.svg');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100px 140px;
		}
		// k
		a.k-work{
			height: 295px;
			width: 100%;
			max-width: 100%;
			background: url('../img/letters/k/k_bg.png');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100% 295px;
			@include easing(450ms);
			.gradient-overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #0319FF 100%);
				z-index: 99;
				@include easing(450ms);
			}
			&:hover{
				@include easing(450ms);
				.gradient-overlay{top: 60%; @include easing(450ms);}
				.letter-k{
					@include easing(450ms);
					top: -20px;
				}
			}
		}
		.letter-k{
			@include easing(450ms);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100px;
			height: 140px;
			z-index: 101;
			background: url('../img/letters/k/k_.svg');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100px 140px;
		}
		// f
		a.f-work{
			height: 295px;
			width: 100%;
			max-width: 100%;
			background: url('../img/letters/f/f_bg.png');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100% 295px;
			@include easing(450ms);
			.gradient-overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #172055 100%);
				z-index: 99;
				@include easing(450ms);
			}
			&:hover{
				@include easing(450ms);
				.gradient-overlay{top: 60%; @include easing(450ms);}
				.letter-f{
					@include easing(450ms);
					top: -20px;
				}
			}
		}
		.letter-f{
			@include easing(450ms);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100px;
			height: 140px;
			z-index: 101;
			background: url('../img/letters/f/f_.svg');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100px 140px;
		}
		// e
		a.e-work{
			height: 295px;
			width: 100%;
			max-width: 100%;
			background: url('../img/letters/e/e_bg.png');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100% 295px;
			@include easing(450ms);
			.gradient-overlay{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #53AFB9 100%);
				z-index: 99;
				@include easing(450ms);
			}
			&:hover{
				@include easing(450ms);
				.gradient-overlay{top: 60%; @include easing(450ms);}
				.letter-e{
					@include easing(450ms);
					top: -20px;
				}
			}
		}
		.letter-e{
			@include easing(450ms);
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 100px;
			height: 140px;
			z-index: 101;
			background: url('../img/letters/e/e_.svg');
			background-position: 0px 0px;
			background-repeat: no-repeat;
			background-size: 100px 140px;
		}
	}
}