.main-footer{
	padding: 30px 20px;
	background-color: $c_light-blue;
	border-top: 1px solid $c_border;
	margin: 30px 0px 0px 0px;
	p{
		font-size: 12px;
		color: $c_dark;
		text-align: center;
		font-family: $f_mono;
		font-weight: 500;
	}
}