.main-header{
	padding: 20px;
	background-color: #fff;
	font-size: 11px;
	position: fixed;
	z-index: 999;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	@extend .cf;
	a.name{
		display: block;
		float: left;
		color: $c_dark;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-family: $f_mono;
		margin: 0px 0px 1px 0px;
		&:hover{
			@include easing(350ms);
			color: #FFDA86;
		}
	}
	.logo-a{
		position: absolute;
		left: 10px;
		top: 10px;
		float: left;
		display: block;
		width: 38px;
		height: 36px;
		background: url('../img/logo-a.svg');
		background-repeat: no-repeat;
		background-position: 0px 0px;
		background-size: 38px 36px;
	}
	nav{
		float: right;
		a{
			margin: 0px 0px 1px 20px;
			display: inline-block;
			color: $c_dark;
			font-weight: 600;
			font-family: $f_mono;
			text-transform: uppercase;
			letter-spacing: 2px;
			&:first-of-type{margin: 0px;}
		}
	}
	.burg{
		display: none;
		.open{
			background: url('../img/burg.svg');
			background-repeat: no-repeat;
			height: 28px;
			width: 31px;
			background-position: 0px 0px;
			background-size: 31px 28px;
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				cursor: pointer;
				opacity: 0.5;
			}
		}
		.close{
			display: none;
			background: url('../img/close.svg');
			background-repeat: no-repeat;
			height: 28px;
			width: 31px;
			background-position: 0px 0px;
			background-size: 31px 28px;
			@include easing(350ms);
			&:hover{
				@include easing(350ms);
				cursor: pointer;
				opacity: 0.5;
			}
		}
	}
}