.main-masthead{
	margin: 51px 0px 0px 0px;
	padding: 100px 20px;
	background-color: $c_light-blue;
	h1{
		text-align: center;
		font-size: 25px;
		padding: 0px 0px 15px 0px;
		color: $c_main-blue;
	}
	p{
		font-family: $f_mono;
		font-size: 12px;
		line-height: 2;
		max-width: 400px;
		margin: 0px auto;
		text-align: center;
		color: $c_main-blue;
	}
	h2{
		text-align: center;
		padding: 0px 0px 30px 0px;
		font-size: 16px;
		color: darken($c_main-blue, 30%);
	}
}
.work-masthead{
	margin: 51px 0px 0px 0px;
	padding: 100px 20px;
	background: #111;
	position: relative;
	@extend .cf;
	.work-info{
		color: #fff;
		max-width: 450px;
		float: left;
		h1{
			font-size: 22px;
			margin: 0px 0px 30px 0px;
			position: relative;
			z-index: 99;
		}
		p{
			font-size: 12px;
			line-height: 2;
			position: relative;
			z-index: 99;
		}
	}
	.letter{
		float: right;
		position: relative;
		z-index: 99;
	}
	.cover-me{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background-color: transparent;
	}
}
.redpoint-masthead{
	background: url('../img/letters/r/r_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 140px;
		width: 100px;
		background: url('../img/letters/r/r_.svg');
		background-position: 100px 140px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #d93939 100%);}
}
.darwin-masthead{
	background: url('../img/letters/d/d_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 140px;
		width: 103px;
		background: url('../img/letters/d/d_.svg');
		background-position: 103px 140px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #03D1FF 100%);}
}
.compliance-masthead{
	background: url('../img/letters/c/c_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 148px;
		width: 121px;
		background: url('../img/letters/c/c_.svg');
		background-position: 121px 148px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #9603FF 100%);}
}
.knowledge-masthead{
	background: url('../img/letters/k/k_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 141px;
		width: 110px;
		background: url("../img/letters/k/k_.svg");
		background-position: 110px 141px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #0319FF 100%);}
}
.redpoint-future-masthead{
	background: url('../img/letters/f/f_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 141px;
		width: 86px;
		background: url("../img/letters/f/f_.svg");
		background-position: 86px 141px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #172055 100%);}
}
.engineering-masthead{
	background: url('../img/letters/e/e_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 141px;
		width: 86px;
		background: url("../img/letters/e/e_.svg");
		background-position: 86px 141px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #53AFB9 100%);}
}
a.work-cta{
	background-image: linear-gradient(-180deg, lighten($c_dark, 10%) 0%, $c_dark 100%);
	color: #fff;
	background-color: $c_dark;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 220px;
	position: relative;
	z-index: 99;
	padding: 10px;
	margin: 30px 0px 0px 0px;
}