.main-masthead{
	border-top: 51px solid $c_dark;
	padding: 85px 20px;
	position: relative;
	background-color: $c_dark;
	h1{
		font-size: 25px;
		color: #fff;
		max-width: 650px;
		line-height: 1.5;
		text-align: center;
		margin: auto;
		padding: 0px 0px 30px 0px;
	}
	p{
		font-family: $f_mono;
		font-size: 12px;
		line-height: 1.5;
		max-width: 550px;
		font-weight: 500;
		margin: auto;
		color: lighten($c_text, 30%);
		text-align: center;
	}
	.location{
		position: absolute;
		left: -154px;
		top: 193px;
		padding: 0px 0px 5px 0px;
		border-bottom: 1px solid $c_dark;
		color: $c_dark;
		@include rotate(-90deg);
	}
	.distinction{
		position: absolute;
		padding: 0px 0px 5px 0px;
		right: -94px;
		bottom: 134px;
		text-transform: uppercase;
		font-size: 12px;
		border-bottom: 1px solid $c_dark;
		color: $c_dark;
		span{
			display: inline-block;
			margin-right: 20px;
			&:last-of-type{color: $c_main-blue;}
		}
		@include rotate(90deg);
	}
	.landscape{
		right: 130px;
		bottom: 60px;
		position: absolute;
		max-width: 500px;
		height: auto;
		img{max-width: 100%;height: auto;@include box-shadow(0px 0px 50px #A9ADBB);}
	}
}
.work-masthead{
	border-top: 51px solid $c_dark;
	padding: 85px 20px;
	background: #111;
	position: relative;
	@extend .cf;
	.work-info{
		color: #fff;
		max-width: 450px;
		float: left;
		h1{
			font-size: 22px;
			margin: 0px 0px 30px 0px;
			position: relative;
			z-index: 99;
		}
		p{
			font-size: 12px;
			line-height: 2;
			position: relative;
			z-index: 99;
		}
	}
	.letter{
		float: right;
		position: relative;
		z-index: 99;
	}
	.cover-me{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		background-color: transparent;
	}
}
.redpoint-masthead{
	background: url('../img/letters/r/r_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 140px;
		width: 100px;
		background: url('../img/letters/r/r_.svg');
		background-position: 100px 140px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #d93939 100%);}
}
.darwin-masthead{
	background: url('../img/letters/d/d_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 140px;
		width: 103px;
		background: url('../img/letters/d/d_.svg');
		background-position: 103px 140px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #03D1FF 100%);}
}
.compliance-masthead{
	background: url('../img/letters/c/c_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 148px;
		width: 121px;
		background: url('../img/letters/c/c_.svg');
		background-position: 121px 148px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #9603FF 100%);}
}
.knowledge-masthead{
	background: url('../img/letters/k/k_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 141px;
		width: 110px;
		background: url("../img/letters/k/k_.svg");
		background-position: 110px 141px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #0319FF 100%);}
}
.redpoint-future-masthead{
	background: url('../img/letters/f/f_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 141px;
		width: 86px;
		background: url("../img/letters/f/f_.svg");
		background-position: 86px 141px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #172055 100%);}
}
.engineering-masthead{
	background: url('../img/letters/e/e_bg.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	.letter{
		height: 141px;
		width: 86px;
		background: url("../img/letters/e/e_.svg");
		background-position: 86px 141px;
	}
	.cover-me{background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, #53AFB9 100%);}
}
a.work-cta{
	border: 2px solid #fff;
	color: #fff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	width: 220px;
	font-family: $f_mono;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: 3px;
	position: relative;
	z-index: 99;
	padding: 10px;
	margin: 30px 0px 0px 0px;
	@include easing(350ms);
	&:hover{
		@include easing(350ms);
		background-color: rgba(255,255,255,0.2);
	}
}